/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    	.top-menu {
    		display: none;
    	}

    	.sidebar-btn {
    		display: block;
    	}

    	.solutions-item {
    		padding: 15px;
    	}

    	.main-slider-content {
    		top: 60px;
    		h1 {
    			font-size: 60px;
    		}
    		p {
    			font-size: 20px;
    			margin-top: 20px;
    		}
    	}

    	.slick-dots {
    		bottom: 20px;
    	}

    	.software-item {
    		width: calc(100% / 3);
    		img {
    			width: 100%;
    		}
    	}

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    	.main-slider-content {
    		top: 30px;
    		h1 {
    			font-size: 52px;
    		}
    	}

    	.quotes-slider-slide-content {
    		img {
    			position: static;
    			float: left;
    			margin-right: 20px;
    			//margin-bottom: 20px;
    		}
    	}

    	.quotes-slide-text {
    		float: none;
    		max-width: none;
    		article {
    			text-align: justify;
    		}
    	}

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    	header {
    		height: 44px;
    	}

    	.section-title {
    		h2 {
    			font-size: 34px;
    		}
    	}

    	.logo {
    		a {
    			line-height: 44px;
    			img {
    				height: 36px;
    			}
    		}
    	}

    	.hamburger {
    		width: 46px;
    		height: 44px;
    		padding: 6px 0 0 ;
    	}

    	.auth {
    		width: 44px;
    		height: 44px;
    	}

    	.lang {
    		width: 44px;
    		height: 44px;
    	}

    	.lang-links {
    		top: 44px;
    	}

    	.search-btn {
    		width: 44px;
    		height: 44px;
    	}

    	#main-slider {
    		margin-top: 44px;
    	}

    	.solutions-item {
    		min-height: auto;
    	}

    	.main-slider-slide {
    		height: calc(100vh - 44px);
    		img {
    			max-width: none;
    			width: 168%;
    			height: 100%;
    			margin-left: -40%;
    		}
    	}

    	.main-slider-content {
    		top: 29%;
    		padding: 0 10px;
    		h1 {
    			font-size: 42px;
    			margin: 0;
    		}
    		p {
    			font-size: 14px;
    			margin-top: 20px;
    		}
    		a {
    			margin-top: 20px;
    		}
    	}

    	.software-item {
    		width: calc(100% / 2);
    	}

    	.footer-column {
    		text-align: center;
    		h5 {
    			position: static;
    		}
    	}

    	.footer-nav {
    		padding-top: 0;
    	}

    	.footer-contacts {
    		padding-top: 0;
    	}

    	.footer-socials {
    		a {
    			margin-right: 0;
    			margin: 0 10px;
    		}
    	}

    	#section-3 {
    		padding-top: 0;
    	}

    	.section-3-item {
    		margin-top: 80px;
    	}

    	.slider-customers-slide {
    		padding: 0 15px;
    	}
    	
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    	.software-item {
    		width: 100%;
    	}

    	.pulse-wrapper {
    		transform: scale(.7);
    	}

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }