/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    	.top-menu {
    		display: none;
    		position: absolute;
    		top: 88px;
    		left: 0;
    		right: 0;
    		background-color: #fff;
    	}

    	.menu {
    		li {
    			display: block;
    			line-height: 1;
    			height: auto;
    			border-bottom: 1px solid lighten($main-black, 70%);
    			a {
    				display: block;
    				line-height: 1;
    				margin: 0;
    				padding: 20px;
    			}
    		}
    	}

    	.submenu {
    		position: static;
    		background-color: #fff;
    		li {
    			margin-left: 40px;
    			&:last-child {
    				border: none;
    			}
    			a {
    				font-size: 11px;
    				border: none;
    				line-height: 22px;
    				padding: 9px 0;
    				color: lighten(#333, 30%);
    				&:hover {
    					color: $main-black;
    				}
    			}
    		}
    	}

    	.sidebar-btn {
    		display: block;
    	}

    	.solutions-item {
    		padding: 15px;
    	}

    	.main-slider-content {
    		top: 60px;
    		h1 {
    			font-size: 60px;
    		}
    		p {
    			font-size: 20px;
    			margin-top: 20px;
    		}
    	}

    	.slick-dots {
    		bottom: 20px;
    	}

    	.software-item {
    		width: calc(100% / 3);
    		img {
    			width: 100%;
    		}
    	}

    	.software-item-hover {
    		p {
    			font-size: 15px;
    			line-height: 24px;
    		}
    	}

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    	.main-slider-content {
    		top: 30px;
    		h1 {
    			font-size: 52px;
    		}
    	}

    	.quotes-slider-slide-content {
    		img {
    			position: static;
    			float: left;
    			margin-right: 20px;
    			//margin-bottom: 20px;
    		}
    	}

    	.quotes-slide-text {
    		float: none;
    		max-width: none;
    		article {
    			text-align: justify;
    		}
    	}

    	.scheme-item-wrapper {
    		padding: 0 15px;
    	}

    	.scheme-item {
    		display: block;
    		float: left;
    		&:first-child {
    			left: auto;
    		}
    		&:last-child {
    			right: auto;
    		}
    	}

    	.scheme-item-inner {
    		p {
    			font-size: 14px;
    			padding: 0 20px;
    		}
    	}
    	
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    	header {
    		height: 44px;
    	}

    	.section-title {
    		h2 {
    			font-size: 34px;
    		}
    	}

    	.logo {
    		a {
    			line-height: 44px;
    			img {
    				height: 36px;
    			}
    		}
    	}

    	.hamburger {
    		width: 46px;
    		height: 44px;
    		padding: 6px 0 0 ;
    	}

    	.top-menu {
    		top: 44px;
    	}

    	.auth {
    		width: 44px;
    		height: 44px;
            a {
                line-height: 1.4;
                padding-top: 7px;
            }
        }

        .lang {
          width: 44px;
          height: 44px;
      }

      .lang-links {
          top: 44px;
      }

      .search-btn {
          width: 44px;
          height: 44px;
      }

      #main-slider {
          margin-top: 44px;
      }

      .solutions-item {
          min-height: auto;
      }

      .main-slider-slide {
          height: calc(100vh - 44px);
          img {
           max-width: none;
           width: 168%;
           height: 100%;
           margin-left: -40%;
       }
   }

   .main-slider-content {
      top: 29%;
      padding: 0 10px;
      h1 {
       font-size: 42px;
       margin: 0;
   }
   p {
       font-size: 14px;
       margin-top: 20px;
   }
   a {
       margin-top: 20px;
   }
}

.software-item {
  width: calc(100% / 2);
}

.footer-column {
  text-align: center;
  h5 {
   position: static;
}
}

.footer-nav {
  padding-top: 0;
}

.footer-contacts {
  padding-top: 0;
}

.footer-socials {
  a {
   margin-right: 0;
   margin: 0 10px;
}
}

#section-3 {
  padding-top: 0;
}

.section-3-item {
  margin-top: 80px;
}

.slider-customers-slide {
  padding: 0 15px;
}

.touch-form {
  input {
   max-width: 448px;
}
textarea {
   max-width: 450px;
}
}

.nice-select {
  max-width: 450px;
  .list {
   max-width: 450px;
}
}

.send-area {
  width: auto;
  p {
   float: none;
   margin-bottom: 20px;
   width: 100%;
}
button {
   float: none;
}
}

.scheme-item {
  width: 32%;
}

.scheme-arrow-right {
  animation: none;
  width: 80px;
  opacity: 1;
}

.scheme-arrow-left {
  animation: none;
  width: 80px;
  opacity: 1;
  right: 80px;
}

}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    	.main-slider-content {
    		top: 20%;
    	}

    	.software-item {
    		width: 100%;
    	}

    	.pulse-wrapper {
    		transform: scale(.7);
    	}

    	.industries-item {
    		p {
    			font-size: 16px;
    		}
    	}

    	.input-placeholder {
    		max-width: 280px;
    	}

    	.touch-form {
    		input {
    			width: 100%;
    		}
    		textarea {
    			width: 100%;
    		}
    	}

    	.nice-select {
    		width: 100%;
    		.list {
    			width: 100%;
    		}
    	}

    	.scheme-item-inner {
    		p {
    			top: 15%;
    			font-size: 10px;
    		}
    	}

    	.scheme-arrow-right {
    		width: 50px;
    	}

    	.scheme-arrow-left {
    		width: 50px;
    		right: 50px;
    	}

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }