/* Solutions section */
#solutions {
	.btn-wrapper {
		margin-top: 80px;
	}
}

.solutions-wrapper {
	margin-top: 20px;
}

.solutions-item {
	min-height: 300px;
	border: 4px solid #666;
	padding: 30px 25px 20px;
	margin-top: 30px;
	img {
		height: 60px;
	}
	h5 {
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: .03em;
		margin: 20px 0;
	}
	hr {
		width: 150px;
		height: 2px;
		background-color: $main-yellow;
		border: none;
	}
	article {
		font-size: 13px;
		line-height: 21px;
		letter-spacing: .03em;
		//padding: 0 40px;
	}
}
/* End Solutions section */

/* Section circles */
#circles {
	background-color: $main-black;
}
/* End Section circles */

/* Section Software */
.software-wrapper {
	margin-top: 60px;
}

.software-item {
	display: block;
	position: relative;
	float: left;
	width: calc(100% / 6);
	transition: all .3s;
	&:hover {
		transform: translateY(-10px);
		//box-shadow: $shadow-3;
		box-shadow: 0px 10px 22px -6px rgba(0,0,0,0.75);
		.software-item-title {
			display: none;
		}
		.software-item-hover {
			opacity: 1;
		}
	}
}

.software-item-title {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .3);
	h4 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		color: #fff;
		text-transform: uppercase;
		padding: 0 40px;
		margin-top: calc(50% - 20px);
		line-height: 30px;
	}
}

.software-item-hover {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px 10px;
	background-color: rgba(248, 231, 28, .8);
	transition: all .6s;
	p {
		font-size: 15px;
		line-height: 24px;
	}
}
/* End Section Software */

/* About section */
#about {
	padding-top: 0;
}

.about-item-wrapper {
	margin-top: 30px;
	margin-bottom: 80px;
}

.about-item {
	margin-top: 20px;
	h4 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}
	hr {
		border: none;
		height: 2px;
		background-color: $main-yellow;
		width: 150px;
		margin-left: 0;
	}
	p {
		font-size: 15px;
		line-height: 25px;
	}
}
/* End About section */

/* Section 3 */
#section-3 {
	background-color: $main-black;
}

.section-3-item {
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #fff;
		letter-spacing: .03em;
	}
	hr {
		border: none;
		height: 1px;
		width: 60px;
		background-color: #EEDC22;
	}
	p {
		font-size: 15px;
		color: #fff;
		letter-spacing: .03em;
	}
}
/* End Section 3 */

/* Section Customers slider */
#customers {
	background-color: $bg-grey;
}

.slider-customers {
	max-width: 750px;
	min-height: 510px;
	margin-top: 60px;
	.slick-dots {
		bottom: 0;
	}
}

.customers-slide-content {
	position: relative;
	max-width: 360px;
	background-color: #fff;
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(231,231,231,0.1);
	p {
		position: relative;
		font-size: 13px;
		line-height: 18px;
	}
	img {
		position: absolute;
	}
}

.customers-slide-line {
	margin-bottom: 60px;
	max-width: 750px;
	&:nth-child(odd) {
		.customers-slide-content {
			float: left;
			margin-left: 80px;
			&::before {
				position: absolute;
				content: '';
				width: 56px;
				height: 47px;
				background-image: url('../images/slider_customers/MessageL.png');
				background-repeat: no-repeat;
				bottom: -0px;
				left: -8px;
			}
			img {
				bottom: -10px;
				left: -70px;
			}
		}
	}
	&:nth-child(even) {
		.customers-slide-content {
			float: right;
			margin-right: 80px;
			&::after {
				position: absolute;
				content: '';
				width: 56px;
				height: 47px;
				background-image: url('../images/slider_customers/MessageR.png');
				background-repeat: no-repeat;
				bottom: -0px;
				right: -8px;
			}
			img {
				bottom: -10px;
				right: -70px;
			}
		}
	}
}
/* End Section Customers slider */

/* Quotes section */
#quotes {
	background-color: $main-yellow;
	.slick-prev {
		position: absolute;
		left: 0;
		top: calc(50% - 30px);
		padding: 0;
		border: none;
		background-image: url('../images/slider_quotes/arrow_l.png');
		background-color: transparent;
		width: 60px;
		height: 60px;
		z-index: 100;
		&:hover {
			opacity: .8;
		}
	}
	.slick-next {
		position: absolute;
		right: 0;
		top: calc(50% - 30px);
		padding: 0;
		border: none;
		background-image: url('../images/slider_quotes/arrow_r.png');
		background-color: transparent;
		width: 60px;
		height: 60px;
		z-index: 100;
		&:hover {
			opacity: .8;
		}
	}
}

.quotes-slider-slide-content {
	position: relative;
	max-width: 750px;
	img {
		position: absolute;
		display: block;
		left: 0;
		top: calc(50% - 153px / 2);
	}
}

.quotes-slide-text {
	float: right;
	max-width: 560px;
	h5 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		letter-spacing: .03em;
		margin: 0;
		line-height: 30px;
		&:nth-child(2) {
			color: #fff;
		}
	}
	article {
		font-size: 13px;
		letter-spacing: .03em;
		line-height: 26px;
	}
}
/* End Quotes section */

/* Industries Section */
#industries {
	background-color: $bg-grey;
}

.industries-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	margin-top: 30px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	transition: all .3s;
	p {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .03em;
		padding: 30px;
		text-align: center;
		//padding-top: calc(50% - 15px);
	}
	&:hover {
		transform: translateY(-20px);
		box-shadow: 0px 20px 8px 0px rgba(0, 0, 0, 0.16);
	}
}
/* End Industries Section */

/* Started Section */
#started {
	background-color: $main-black;
	padding: 40px 0;
}

.pulse-wrapper {
	height: 450px;
	padding: 40px 0;
	position: relative;
}

.pulse-btn {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: $main-yellow;
	z-index: 10;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: .03em;
	text-transform: uppercase;
	&:hover {
		opacity: .8;
	}
	span {
		display: inline-block;
		margin-top: calc(50% - 18px);
	}
}

.pulse-dot {
	position: absolute;
	border: 15px solid #505050;
	background: transparent;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	animation: pulse 2s ease-out;
	animation-iteration-count: infinite;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	opacity: 0;
}

.pulse-dot-2 {
	@extend .pulse-dot;
	animation-delay: .4s;
}

.pulse-dot-3 {
	@extend .pulse-dot;
	animation-delay: .8s;
}
/* End Started Section */

/* Touch Section */
/* End Touch Section */